* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat';
}

body {
    position: relative;
}

.container {
    position: relative;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

/* 
====================
        navbar
=========================
*/
section[aria-label="navbar"] {

    background-color: black;
    color: white;
}

nav.navbar img {
    width: 100px;
}

nav.navbar {
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar ul.list {
    display: flex;
}

nav.navbar ul.list li {
    margin: 1rem;
}

nav.navbar button.button-small {
    padding: .5rem 2rem;
    color: white;
    background-color: #ba0cc5;
    border: none;
    border-radius: .5rem;
}



/* 
========================
    hero section
===========================
*/
section[aria-label="hero"] {
    /* background-image: url('./assets/bg.png'); */
    background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section[aria-label="hero"] h1.hero-heading {
    font-size: 4rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: .5rem;
}

.hero p.hero-description {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.hero button.button-large {
    background-color: #ba0cc5;
    border: none;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

@media (max-width:700px) {
section[aria-label="hero"] h1.hero-heading {
 font-size: 3rem;   
 margin: 2rem auto;
}

.hero button.button-large {

font-size: 1rem;
}
}